<section id="adminLoginForm">
  <div class="container">
      <div class="text">Connexion</div>
      <form action="/connexion" method="post" class="row">
        <div class="col-md-6 data form-group">
          <label for="email" class="form-control-label">Email</label>
          <input type="email" name="email" id="email" class="form-control" />
        </div>
        <div class="col-md-6 data form-group">
          <label for="mot_de_passe" class="form-control-label">Mot de passe</label>
          <input type="password" name="mot_de_passe" id="mot_de_passe" class="form-control" />
        </div>
        <div class="forgot-pass mt-3">
          <a href="/forgot-password">Mot de passe oublié ?</a>
        </div>
        <div class="btn">
          <button type="submit">Se connecter</button>
        </div>
        <div class="signup-link">
          Je n'ai pas de compte ? <a href="/inscription">S'inscrire</a>
        </div>
      </form>
  </div>
</section>
