<div class="container">
	<h2>Home Page</h2><br>
	
	<form action="/notification" method="post" class="row">
		<div class="col-md-12 data form-group mb-4">
			<label for="recipient" class="form-control-label">Destinataire</label>
			<input type="text" name="recipient" id="recipient" class="form-control" />
		</div>
		<div class="col-md-12 data form-group mt-4">
			<label for="message" class="form-control-label">Message</label>
			<textarea name="message" id="message" class="form-control"></textarea>
		</div>

		<div class="row">
			
		<div class="btn">
			<button type="submit">Envoyer</button>
		</div>
		</div>
	</form>
</div>