<div class="container">
	<h2>Home Page</h2><br>
	
	<form action="/upload" method="post" enctype="multipart/form-data" class="row">
		<div class="col-md-12 data form-group">
			<label for="file" class="form-control-label">Fichier</label>
			<input type="file" name="file" id="file" class="form-control" />
		</div>

		<div class="btn">
			<button type="submit">Envoyer</button>
		</div>
	</form>
</div>