<nav>

			<div class="logo"></div>
	
		<div class="menu">
			<a href="/home">Accueil</a>
			<a href="/upload">Chargement fichier</a>
			<a href="/notification">Envoi email</a>
			<a href="/logout">Déconnexion</a>
			
			<a href="/inscription">Inscription</a>
			<a href="/login">Connexion</a> 
		</div>
</nav>